---
import { getCollection } from "astro:content";
import Image from "./elements/Image.astro";

type Props = {
  currentProject: string;
  background: string;
};

const { currentProject, background } = Astro.props;

const projects = (await getCollection("project"))
  .filter(
    (project) =>
      project.data.title !== currentProject && !Boolean(project.data.hidden)
  )
  .sort(() => Math.random() - 0.5);
---

<aside class="w-full py-32" style={{ background }}>
  <h2 class="sr-only">My work</h2>
  <ol
    class="flex w-full gap-2 px-12 pb-8 overflow-x-auto md:gap-12 snap-x snap-mandatory scroll-px-12"
  >
    {
      projects.map((project) => (
        <li
          class="snap-always snap-center md:snap-end relative shrink-0 w-[80vw] md:w-[70vw] lg:w-[60vw] xl:w-[50vw] 2xl:w-[40vw]"
          aria-label={`${project.data.title},${project.data.description}`}
          data-other-project
        >
          <a class="w-full" href={`/project/${project.slug}`}>
            <section
              class="w-full"
              style={{
                background: project.data.contrastColor,
              }}
            >
              <Image
                src={project.data.heroImage}
                alt={project.data.description}
                aria-hidden="true"
                class={`${project.data.contrastColor ? "max-w-xs md:max-w-sm mx-auto translate-y-12 px-3 md:px-0" : ""}`}
              />
            </section>
            <div class="mt-24 text-xl font-extrabold text-slate-900 dark:text-slate-900">
              {project.data.title}
              <span class="font-light description text-slate-900 dark:text-slate-900">
                {project.data.description}
              </span>
            </div>
          </a>
        </li>
      ))
    }
  </ol>
  <em
    class="px-12 block w-full text-center md:text-right mt-4 text-slate-900"
    aria-hidden
  >
    Scroll for more <span class="motion-safe:animate-pulse">👉</span>
  </em>
</aside>

<style>
  .description::before {
    @apply inline-block px-1;
    content: "|";
  }
</style>

<script>
  const items = document.querySelectorAll("[data-other-project]");

  items.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const audios = [
        "/sound/happy-pop-1-185286.mp3",
        "/sound/happy-pop-2-185287.mp3",
        "/sound/happy-pop-3-185288.mp3",
      ];
      const audio = new Audio(
        audios[Math.floor(Math.random() * audios.length)]
      );
      audio.volume = 0.3;
      audio.play();
    });
  });
</script>
