---
import type { CollectionEntry, ContentCollectionKey } from "astro:content";
import "@fontsource/space-grotesk";
import "@fontsource/caveat";
import BaseLayout from "../layouts/BaseLayout.astro";
import ScrollingText from "../components/ScrollingText.astro";
import PageProgress from "../components/PageProgress.astro";
import PageTransition from "../components/PageTransition.astro";
import OtherProjects from "../components/OtherProjects.astro";
import Image from "../components/elements/Image.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<ContentCollectionKey>["data"] & {
  showDates?: boolean;
};

const {
  title,
  pubDate,
  updatedDate,
  description,
  heroImage,
  shareImage,
  headerColor,
  contrastColor,
  showDates,
  minutesRead,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={shareImage ?? heroImage}
>
  <PageTransition background={headerColor} />
  <ScrollingText text={title} background={headerColor} />
  <article>
    {
      heroImage && (
        <section
          aria-hidden="true"
          class={`${contrastColor ? "mb-36" : ""}`}
          style={{
            background: contrastColor,
          }}
        >
          <Image
            src={heroImage}
            alt={description}
            loading="eager"
            class={`${contrastColor ? "mx-auto max-w-5xl translate-y-24 px-5" : ""}`}
          />
        </section>
      )
    }

    <h1 class="sr-only">{title}</h1>

    {
      showDates && (
        <section class="pt-12 text-center">
          Publised on <FormattedDate date={pubDate} />
          {updatedDate && (
            <>
              , last updated on <FormattedDate date={updatedDate} />
            </>
          )}
        </section>
      )
    }

    {
      minutesRead && (
        <section class="pt-12 text-center opacity-50">{minutesRead}</section>
      )
    }

    <section
      class="m-auto max-w-7xl px-4 pb-72 pt-40 text-center font-extrabold"
    >
      <div aria-hidden="true" class="mb-2 italic">{title},</div>
      <div class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        {description}
      </div>
    </section>
    <section class="container m-auto px-4 pb-32 xl:px-0">
      <slot />
    </section>
  </article>
  <ScrollingText text="More work" direction="right" />
  <OtherProjects currentProject={title} background={headerColor} />
  <PageProgress color={headerColor} />
</BaseLayout>

<script>
  const breaks = document.querySelectorAll("br");
  breaks.forEach((br) => {
    br.ariaHidden = "true";
  });
</script>
