---
import type { CollectionEntry, ContentCollectionKey } from "astro:content";
import "@fontsource/space-grotesk";
import "@fontsource/caveat";
import BaseLayout from "../layouts/BaseLayout.astro";
import ScrollingText from "../components/ScrollingText.astro";
import PageProgress from "../components/PageProgress.astro";
import PageTransition from "../components/PageTransition.astro";
import OtherProjects from "../components/OtherProjects.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Image from "../components/elements/Image.astro";

type Props = CollectionEntry<ContentCollectionKey>["data"] & {
  showDates?: boolean;
};

const {
  title,
  pubDate,
  updatedDate,
  description,
  openMoji,
  shareImage,
  headerColor,
  contrastColor,
  minutesRead,
  heroImage,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={shareImage ?? ""}>
  <PageTransition background={headerColor} />
  <article class="-mt-14">
    {
      openMoji && (
        <section
          aria-hidden="true"
          class="relative flex justify-center"
          style={{ background: headerColor }}
        >
          <ScrollingText text={title} />
          <div
            class="open-moji transition-all text-[240px] translate-y-44 md:text-[420px] md:translate-y-8 absolute"
            set:html={`&#x${openMoji};`}
          />
        </section>
      )
    }
    {
      heroImage && (
        <section
          aria-hidden="true"
          class={`${contrastColor ? "mb-36" : ""}`}
          style={{
            background: contrastColor,
          }}
        >
          <Image
            src={heroImage}
            alt={description}
            loading="eager"
            class={`${contrastColor ? "mx-auto max-w-5xl translate-y-24 px-5" : ""}`}
          />
        </section>
      )
    }

    <h1 class="sr-only">{title}</h1>

    <section class="pt-48 text-center">
      Publised on <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="opacity-50 italic text-sm">
            last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </section>

    {
      minutesRead && (
        <section class="pt-8 text-center opacity-60 text-lg">
          {minutesRead}
        </section>
      )
    }

    <section
      class="m-auto max-w-7xl px-4 pb-72 pt-40 text-center font-extrabold"
    >
      <div aria-hidden="true" class="mb-2 italic">{title},</div>
      <div class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        {description}
      </div>
    </section>
    <section class="container m-auto px-4 pb-32 xl:px-0">
      <slot />
    </section>
  </article>
  <ScrollingText text="More work" direction="right" />
  <OtherProjects currentProject={title} background={contrastColor} />
  <PageProgress color={contrastColor} />
</BaseLayout>

<script>
  const breaks = document.querySelectorAll("br");
  breaks.forEach((br) => {
    br.ariaHidden = "true";
  });
</script>
