---
import type { CollectionEntry, ContentCollectionKey } from "astro:content";
import "@fontsource/space-grotesk";
import "@fontsource/caveat";
import BaseLayout from "../layouts/BaseLayout.astro";
import ScrollingText from "../components/ScrollingText.astro";
import PageProgress from "../components/PageProgress.astro";
import PageTransition from "../components/PageTransition.astro";
import OtherProjects from "../components/OtherProjects.astro";
import Image from "../components/elements/Image.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<ContentCollectionKey>["data"] & {
  showDates?: boolean;
};

const {
  title,
  pubDate,
  updatedDate,
  description,
  heroImage,
  headerColor,
  contrastColor,
  showDates,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <PageTransition background={headerColor} />
  <ScrollingText text={title} background={headerColor} />
  <article>
    {
      heroImage && (
        <section
          aria-hidden="true"
          class={`${contrastColor ? "mb-36" : ""}`}
          style={{
            background: contrastColor,
          }}
        >
          <Image
            src={heroImage}
            alt={description}
            loading="eager"
            class={`${contrastColor ? "max-w-5xl mx-auto translate-y-24 px-5" : ""}`}
          />
        </section>
      )
    }

    <h1 class="sr-only">{title}</h1>

    {
      showDates && (
        <section class="text-center pt-12">
          Publised on <FormattedDate date={pubDate} />
          {updatedDate && (
            <>
              , last updated on <FormattedDate date={updatedDate} />
            </>
          )}
        </section>
      )
    }

    <section
      class="pt-40 pb-72 max-w-7xl m-auto px-4 font-extrabold text-center"
    >
      <div class="text-6xl md:text-7xl">{description}</div>
    </section>
    <section class="pb-32 m-auto px-4 xl:px-0 container">
      <slot />
    </section>
  </article>
  <ScrollingText text="More work" direction="right" />
  <OtherProjects currentProject={title} background={headerColor} />
  <PageProgress color={headerColor} />
</BaseLayout>
